[user]
  name = Justin Winslow
  email = justin@jwin.me

[github]
  user = justinwinslow

[color]
  ui = true

[color "branch"]
  current = yellow black
  local = yellow
  remote = magenta

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red reverse
  new = green reverse
  whitespace = white reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta

[core]
  excludesfile = ~/.gitignore

[alias]
  message = "!if [ \"$#\" -eq 0 ]; then msg=\"$(git show -s --format=\"%B\" $(git rev-list --parents \"^$(git merge-base master $(git symbolic-ref --short HEAD))\" \"$(git symbolic-ref --short HEAD)\" | tail -n 1 | cut -f1 -d ' '))\"; else msg=\"$*\"; fi; sh -c \"echo \\\"$msg\\\"\""
  flatten = "!msg=\"$(git message $*)\"; cmd=\"git reset \"$(git merge-base master \"$(git symbolic-ref --short HEAD)\")\"; git add -A; git commit -m \\\"$msg\\\"\"; sh -c \"$cmd\" " -
